<!-- Copyright 2020 Oliver Smith
     SPDX-License-Identifier: GPL-3.0-or-later -->

<p class="distro-links">
	<a href="https://postmarketos.org/blog">blog</a> -
	<a href="https://wiki.postmarketos.org/">wiki</a>
</p>
